In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
locations = pd.read_csv(r"C:\Users\User\Documents\4. Fourth Year\Project\Railway-Fares\Data\Station Locations.csv")

In [3]:
locations = locations.loc[locations["Operator"].str.contains("Scotrail", na = False)][['Latitude', 'Longitude', 'Station']]

In [4]:
def get_postcode(lat, long):
    try:
        result = requests.get(f"https://findthatpostcode.uk/points/{lat}%2C{long}.json")
        return result.json()['data']['relationships']['nearest_postcode']['data']['id']
    except Exception:
        print(f"Issue with {lat}, {long}")
        return "FAILED"

In [5]:
%%timeit
get_postcode(55.6056, -2.7584)

The slowest run took 4.67 times longer than the fastest. This could mean that an intermediate result is being cached.
1.17 s ± 837 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
test_df = locations.sample(5)
test_df["Postcode"] = test_df.apply(lambda x: get_postcode(x[0], x[1]), axis = 1)
test_df

     Latitude  Longitude            Station  Postcode
539   55.8935    -4.3097         Kelvindale   G20 0TB
661   55.8972    -3.6361           Bathgate  EH48 1DZ
658   57.4777    -4.4688             Beauly   IV4 7EP
432   55.9270    -3.2430          Slateford  EH14 1PZ
683   55.6401    -4.8215  Ardrossan Harbour  KA22 8ED

In [7]:
locations["Postcode"] = locations.apply(lambda x: get_postcode(x[0], x[1]), axis = 1)

Issue with 58.3567, -3.8971
Issue with nan, nan

In [8]:
locations.to_csv(r"C:\Users\User\Documents\4. Fourth Year\Project\Railway-Fares\Data\Station Postcodes.csv", index = False)

In [11]:
locations.loc[locations["Postcode"] ==  "FAILED"]

     Latitude  Longitude            Station Postcode
594   58.3567    -3.8971          Forsinard   FAILED
703       NaN        NaN  Edinburgh Gateway   FAILED

In [12]:
len(locations)

318