In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [2]:
url = "https://www.scotrail.co.uk/plan-your-journey/stations-and-facilities"

In [3]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
links = []
re_string = r"^\/plan-your-journey\/stations-and-facilities\/([a-z][a-z][a-z])$"
for link in soup.find_all('a'):
    link_text = link.get('href')
    if link_text is not None:
        if re.search(re_string, link_text) is not None:
            links.append(link_text)

In [5]:
station_codes = list(map(lambda x: x[-3:].upper(), links))

In [6]:
addresses = []
urls = [f"https://www.scotrail.co.uk/plan-your-journey/stations-and-facilities/{crs.lower()}" for crs in station_codes]
for url in urls:
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    address = soup.find("div", {"class": "address"})
    addresses.append(address)

In [7]:
def strip_postcode(address):
    postcode = " ".join(re.split(r"<br/>", str(address))[-1].split(" ")[:2])
    if len(postcode) > 8:
        postcode = ''.join([c for c in postcode if not c.islower() and not c in ('\n', '\\', '<', '>', '/')])
    return postcode
list(map(strip_postcode, addresses))

['AB11 6LX',
 'KY3 0SN',
 'IV23 2QD',
 'IV22 2EJ',
 'IV54 8YH',
 'EH55 8NQ',
 'ML1 2SX',
 'ML6 9EX',
 'G31 3JN',
 'G83 0UL',
 'FK10 1BA',
 'IV17 0SE',
 'KW12 6UR',
 'G3 8RR',
 'DG12 6AS',
 'G12 0AY',
 'DD11 1RQ',
 'IV24 3AQ',
 'G83 7DT',
 'KA22 8BH',
 'KA22 8AU',
 'KA22 8AU',
 'G2 8DL',
 'PH39 4NJ',
 'EH48 3LP',
 'G83 7DB',
 'G22 6LR',
 'IV54 8YX',
 'KA18 2BH',
 'PH22 1PD',
 'KA7 1TH',
 'G69 7RN',
 'G83 8SS',
 'DD5 4QH',
 'PH33 7JF',
 'KA10 6SA',
 'G69 7TS',
 'G21 4NB',
 'G78 1AA',
 'KA26 0QF',
 'DD11 1PR',
 'EH48 1BA',
 'G61 4AN',
 'PH39 4NR',
 'IV4 7EF',
 'G31 1SG',
 'ML4 1RJ',
 'G64 1PE',
 'PA7 5AD',
 'EH48 3BW',
 'PH18 5SL',
 'ML5 1NP',
 'G72 9BB',
 'PA15 2TF',
 'G60 5AH',
 'PA16 9HA',
 'EH55 8JH',
 'FK9 4PH',
 'PA36 4AD',
 'G40 1BN',
 'KW9 6PY',
 'DD5 2DX',
 'EH15 2NG',
 'G73 3SA',
 'KY3 9DR',
 'G76 8JB',
 'ML6 7RJ',
 'G72 7EL',
 'FK1 4JW',
 'KY5 0BP',
 'G52 2DE',
 'G82 5NL',
 'ML1 5AL',
 'ML8 5AA',
 'G32 8YS',
 'DD7 6AY',
 'G32 6AW',
 'PH23 3AJ',
 'ML11 8PR',
 'PA15 2TG',
 'G44 4ED',
 'G2 3HW',
 'ML3 7UD',
 'G44 3BP',
 'ML1 5RR',
 'G81 1RT',
 'ML5 1RL',
 'ML5 3HR',
 'ML5 3PZ',
 'PA37 1PA',
 'IV7 8AA',
 'G52 1QR',
 'PH33 7LS',
 'PH30 4AA',
 'KY4 9SQ',
 'G84 7BQ',
 'FK20 8QN',
 'G42 1AA',
 'G52 3TX',
 'G42 8ES',
 'G41 3TW',
 'G65 9HT',
 'IV27 4ET',
 'G67 2UH',
 'KY15 5HX',
 'EH14 4AA',
 'KY11 9HZ',
 'PA33 1AY',
 'G40 4HG',
 'EH30 9JU',
 'G81 3QT',
 'G82 4AD',
 'KA24 4DE',
 'PH19 1AD',
 'IV15 9PZ',
 'EH39 5LW',
 'G13 4PT',
 'PA15 4BY',
 'ML6 7BL',
 'G31 2LY',
 'IV40 8BD',
 'G31 1LL',
 'G82 1PZ',
 'G82 2EP',
 'G41 4HE',
 'DG1 1NF',
 'EH42 1JX',
 'FK15 9ET',
 'IV52 8TZ',
 'DD1 4BY',
 'KY12 0GB',
 'KY12 7HT',
 'PH8 0DP',
 'KA3 4BZ',
 'KW10 6SF',
 'AB21 7EQ',
 'G74 1AR',
 'G69 6BL',
 'EH1 1BB',
 'EH12 9GF',
 'EH11 4DF',
 'IV30 1QP',
 'EH22 3NX',
 'G3 8LD',
 'KA29 0DJ',
 'FK2 7EZ',
 'FK1 5QX',
 'PA33 1AN',
 'EH47 9DJ',
 'IV20 1RS',
 'IV36 3AD',
 'KW13 6YT',
 'PA16 7TS',
 'PH33 6TQ',
 'TD1 1BP',
 'G84 0EG',
 'G69 1AA',
 'G14 0EY',
 'G69 8DF',
 'IV23 2QF',
 'KW12 6HH',
 'G46 6JF',
 'G23 5LF',
 'KA26 9HF',
 'G1 3SL',
 'G1 2AF',
 'PH3 1JL',
 'PH37 4LS',
 'KA14 3AT',
 'KY1 4AE',
 'DD7 7JG',
 'KW10 6SZ',
 'EH23 4JX',
 'PA19 1QR',
 'G67 2XJ',
 'PA15 1DH',
 'PA15 1TE',
 'DG16 5HF',
 'G75 8SW',
 'ML3 6PB',
 'ML3 0DA',
 'ML7 7DU',
 'PA2 7BB',
 'EH12 5EY',
 'G84 7QF',
 'G84 9LG',
 'KW8 6HH',
 'G1 1PZ',
 'G61 3PG',
 'G52 2LL',
 'G52 4NQ',
 'ML1 4HD',
 'PA9 1AZ',
 'AB54 5HS',
 'G12 9PP',
 'PA16 0XB',
 'AB52 6PU',
 'IV18 0RY',
 'DD2 5DS',
 'KY11 1NJ',
 'PA16 0AS',
 'IV2 3PY',
 'IV27 4ET',
 'AB51 4TN',
 'KA12 8NU',
 'PA5 8HE',
 'G13 1QL',
 'AB55 3DR',
 'G20 0TB',
 'G46 8HP',
 'KW8 6HY',
 'KA1 2AF',
 'KA3 2QX',
 'G60 5LX',
 'KA13 6NT',
 'KW11 6UB',
 'KY3 9RA',
 'G44 5UT',
 'EH14 2JX',
 'PH21 1EN',
 'AB51 0YF',
 'KY1 1YL',
 'DG4 6NL',
 'G72 8NL',
 'EH27 8BP',
 'ML5 5RS',
 'IV40 8AH',
 'KY15 7JS',
 'IV27 4EX',
 'ML11 7JP',
 'PA14 6PD',
 'G43 2JH',
 'FK5 4AN',
 'KA30 8AN',
 'ML9 1DP',
 'AB30 1BE',
 'G66 4UA',
 'KY16 0AA',
 'EH49 7DH',
 'EH54 7EE',
 'EH54 9AP',
 'PA33 1AQ',
 'PH33 7NN',
 'PH38 4LZ',
 'PH33 7PN',
 'KY5 9EP',
 'IV23 2PZ',
 'PA12 4JF',
 'DG11 2HA',
 'EH32 0LS',
 'PH41 4QA',
 'KY7 6DH',
 'G20 8HL',
 'G41 4DT',
 'KA19 8DS',
 'ML9 2UW',
 'PA5 8PQ',
 'G62 8PG',
 'DD5 4NN',
 'DD10 8LW',
 'PH40 4PB',
 'G52 3ET',
 'ML1 1BL',
 'G41 1RR',
 'G69 7DB',
 'IV6 7ST',
 'G44 4QR',
 'EH21 6TT',
 'IV12 4QS',
 'G78 3EE',
 'KA18 4DG',
 'EH21 8QT',
 'G72 7TD',
 'KA8 9BP',
 'EH22 4PE',
 'PH20 1AL',
 'G53 7NX',
 'EH39 4BY',
 'KY11 1JE',
 'PA34 4LW',
 'PA2 6SZ',
 'PA1 1BS',
 'PA3 1RB',
 'G11 6BU',
 'G77 6NR',
 'PH2 8RT',
 'PH16 5AN',
 'IV52 8TX',
 'G43 1NE',
 'G43 1NE',
 'G41 2NE',
 'G41 5HT',
 'FK2 0UP',
 'PA14 5JH',
 'AB12 4JS',
 'G22 6LN',
 'EH33 1NG',
 'KA9 2PL',
 'KA9 1AQ',
 'G53 7US',
 'G42 8PQ',
 'PH17 2QA',
 'G82 4ND',
 'TD14 5JS',
 'G33 1AF',
 'IV28 3XL',
 'KY11 2JF',
 'PH31 4AH',
 'G73 1DB',
 'KA21 5JT',
 'DG4 6DQ',
 'KW12 6YH',
 'G13 1QG',
 'EH22 1SB',
 'G41 3RG',
 'G32 0PF',
 'ML2 7TF',
 'ML7 5DX',
 'G81 2JQ',
 'EH14 1BX',
 'EH12 9EU',
 'PH34 4EP',
 'G21 1SB',
 'KY15 5QY',
 'G33 6AT',
 'KA20 3DP',
 'KA3 5BD',
 'FK8 1PF',
 'AB39 2NE',
 'TD1 2SQ',
 'DG9 8EJ',
 'IV54 8YR',
 'IV53 8UH',
 'G23 5AT',
 'IV19 1JA',
 'PA35 1JH',
 'G46 7DA',
 'G74 5AB',
 'KW14 7DL',
 'KA10 6JY',
 'PH31 4AR',
 'TD1 3AB',
 'FK20 8RZ',
 'G71 7LR',
 'EH54 5QG',
 'FK20 8RY',
 'EH21 8DZ',
 'PA18 6AA',
 'EH55 8BP',
 'KA23 9BP',
 'EH14 3AQ',
 'G61 1PA',
 'ML5 4AS',
 'PA15 3AH',
 'G46 6JB',
 'KW1 4QT',
 'G76 7HQ',
 'ML2 0EX',
 'PA14 5PP',
 'G81 1AD']

In [8]:
scottish_stations = list(zip(station_codes, map(strip_postcode, addresses)))

In [9]:
correct_postcodes = pd.DataFrame(scottish_stations, columns = ["CRS", "Scotrail Postcode"])

In [10]:
data_path = "C:\\Users\\User\\Documents\\4. Fourth Year\\Project\\Railway-Fares\\Data\\Cleansed Data\\"

stations = pd.read_csv(data_path + "station.csv", dtype = str)

In [15]:
joined = correct_postcodes.merge(stations[["CRS", "Postcode"]], on = "CRS")

joined["match"] = joined.apply(lambda x: 1 if x[1][:4] == x[2][:4] else 0, axis = 1)

In [16]:
joined

     CRS Scotrail Postcode  Postcode  match
0    ABD          AB11 6LX  AB11 6RT      1
1    AUR           KY3 0SN   KY3 0TQ      1
2    AAT          IV23 2QD  IV23 2QD      1
3    ACN          IV22 2EJ  IV22 2EE      1
4    ACH          IV54 8YH  IV54 8YU      1
..   ...               ...       ...    ...
358  WCK           KW1 4QT   KW1 5LB      1
359  WLM           G76 7HQ   G76 7NP      1
360  WSH           ML2 0EX   ML2 0EX      1
361  WDL          PA14 5PP  PA14 6QX      1
362  YOK           G81 1AD   G81 1JQ      1

[363 rows x 4 columns]

In [18]:
joined.to_csv(data_path + "postcode_check.csv", index = False)

In [14]:
"EH8 9SW"[:5]

'EH8 9'